<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${category.name}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="header">
    <h1><a th:href="@{/}">Sigma mail</a></h1>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
<p class="logged-user">Logged user:<a th:href="@{/profile/{userId}(userId=${user.id})}"><span th:text="${user.username}"></span></a></p>

<div class="menu">
    <ul class="categories">
    <li th:each="category : ${categories}">
        <a th:href="@{/mailbox/{categoryId}(categoryId=${category.id})}">
            <span th:text="${category.name}"></span>
        </a>
    </li>
</ul>

<a class="new-message" th:href="@{/mailbox/new-message}"><button>Create new message</button></a>

</div>
<div class="messages-menu">
<ul class="messages">
    <li th:each="message : ${messages}">
        <a th:href="@{/mailbox/{categoryId}/{messageId}(categoryId=${category.id},messageId=${message.id})}">
        <span th:text="${message.subject}"></span>
        </a>
    </li>
</ul>
</div>
</body>
<footer class="footer">
    <div class="footer-div">
        <span>PPRO student project, Daniel Kučera , 2023</span>
    </div>
</footer>
</html>