<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password change</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="header">
    <h1><a th:href="@{/}">Sigma mail</a></h1>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
<p class="logged-user">Logged user:<a th:href="@{/profile/{userId}(userId=${user.id})}"><span th:text="${user.username}"></span></a></p>
<div class="profile-content">
    <form id="userForm" method="post" th:action="@{/profile/{userId}(userId=${user.id})/change-password}" th:attr="data-user-id=${user.id}">
        <span th:if="${errorValue == 2}" style="color: red">Password have to be at least 8 characters long, contains a capital and a number!</span><br>
        <Label>New password: <input name="new_password" type="password" required></Label><br>
        <span th:if="${errorValue == 3}" style="color: red">Passwords do not match!</span><br>
        <label>Confirm new password: <input name="confirm_new_password" type="password" required></label><br><br>
        <button type="submit" onclick="submitForm('save')">Save changes</button>
    </form>
</div>
<script th:inline="javascript">
    function submitForm(action) {
        let form = document.getElementById('userForm');
        let userId = form.getAttribute('data-user-id');
        form.action = `/profile/${userId}/change-password/${action}`;

        form.submit();
    }
</script>
</body>
<footer class="footer">
    <div class="footer-div">
        <span>PPRO student project, Daniel Kučera , 2023</span>
    </div>
</footer>
</html>