<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sigma Mail</title>
</head>
<body>

<p>Logged user:<a th:href="@{/profile/{userId}(userId=${user.id})}"><span th:text="${user.username}"></span></a></p>
<p th:if="${user.role == 'Admin'}">Don't have an account yet? Register <a th:href="@{/register}">here</a></p>
<p> Go to <a th:href="@{/mailbox}">mailbox</a>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>