<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mailbox</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="header">
    <h1><a th:href="@{/}">Sigma mail</a></h1>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
<p class="logged-user">Logged user:<a th:href="@{/profile/{userId}(userId=${user.id})}"><span th:text="${user.username}"></span></a></p>
<form id="searchForm" th:if="${user.role == 'Admin'}" method="post" th:action="@{/search/{username}(username=${user.username})}">
<Label class="logged-user">User search:<input id="searched_username" name="searched_username" type="text" placeholder="Search user"></Label>
    <button type="submit" onclick="searchForm()">Search</button>
</form>
<div class="menu">
<ul class="categories">
    <li th:each="category : ${categories}">
        <a th:href="@{/mailbox/{categoryId}(categoryId=${category.id})}">
        <span th:text="${category.name}"></span>
        </a>
    </li>
</ul>

    <a class="new-message" th:href="@{/mailbox/new-message}"><button>Create new message</button></a>
</div>
<script>
    function searchForm() {
        let form = document.getElementById('searchForm');
        let input = document.getElementById('searched_username');
        if (input.value.trim() !== '') {
            let username = encodeURIComponent(input.value);
            form.action = `/search/${username}`;
            form.submit();
        } else {
            alert('Please enter a username for search.');
        }
    }
</script>
</body>
<footer class="footer">
    <div class="footer-div">
        <span>PPRO student project, Daniel Kučera , 2023</span>
    </div>
</footer>
</html>