<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${message.subject}"></title>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
<p>Logged user:<a th:href="@{/profile/{userId}(userId=${user.id})}"><span th:text="${user.username}"></span></a></p>
<p>Sender: <span th:text="${sender.username}"></span></p>
<p>Receiver: <a th:href="@{/profile/{userId}(userId=${receiver.id})}"><span th:text="${receiver.username}"></span></a></p>
<p>Subject: <span th:text="${message.subject}"></span></p>
<p>Text: <span th:text="${message.text}"></span></p>
<p>Time: <span th:text="${message.time}"></span></p>
<ul>
    <li th:each="attachment : ${message.attachments}">
        <a th:href="@{'/download/' + ${attachment.id}}" th:text="${attachment.name}"></a>
    </li>
</ul>

<form method="post" th:action="@{/moveToTrash/{categoryId}/{messageId}(categoryId=${category.id},messageId=${message.id})}">
    <input type="hidden" th:field="*{message.id}" />
    <input type="hidden" th:field="*{category.id}" />
    <button type="submit" th:if="${category.name != 'Trash'}">Move to trash</button>
</form>

<form method="post" th:action="@{/delete/{categoryId}/{messageId}(categoryId=${category.id},messageId=${message.id})}">
    <input type="hidden" th:field="*{message.id}" />
    <input type="hidden" th:field="*{category.id}" />
    <button type="submit" th:if="${category.name == 'Trash'}">Delete</button>
</form>
<button onclick="goBack()">Go Back</button>
</body>
</html>