<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${profile_owner.username}">'s profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="header">
    <h1><a th:href="@{/}">Sigma mail</a></h1>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
<p class="logged-user">Logged user:<a th:href="@{/profile/{userId}(userId=${user.id})}"><span th:text="${user.username}"></span></a></p>
<div class="profile-content">
<p>Username: <span th:text="${profile_owner.username}"></span></p>
<p>First name: <span th:text="${profile_owner.first_name}"></span></p>
<p>Last name: <span th:text="${profile_owner.last_name}"></span></p>
<p>Birthdate: <span th:text="${formattedBirthdate}"></span></p>
<p>Role: <span th:text="${profile_owner.role}"></span></p>
<form method="post" th:action="@{/profile/{userId}/update(userId=${user.id})}">
    <input type="hidden" th:field="*{user.id}">
    <button type="submit" th:if="${user.id eq profile_owner.id}">Update profile</button>
</form>

<form method="post" th:action="@{/profile/{userId}/delete(userId=${profile_owner.id})}">
    <input type="hidden" th:field="*{user.id}">
    <button class="delete-profile-button" type="submit" th:if="${user.id eq profile_owner.id or user.role == 'Admin'}">Delete profile</button>
</form>
    <form method="post" th:action="@{/profile/{userId}/change-password(userId=${user.id})}">
        <input type="hidden" th:field="*{user.id}">
        <button type="submit" th:if="${user.id eq profile_owner.id}">Change password</button>
    </form>

<form id="roleForm" method="post" th:action="@{/profile/{userId}/change-role(userId=${profile_owner.id})}" th:attr="data-owner-id=${profile_owner.id}">
    <input type="hidden" th:field="*{user.id}">
    <button type="submit" th:if="${user.role == 'Admin' and profile_owner.role == 'User'}" onclick="submitForm('toAdmin')">Set to admin</button>
    <button type="submit" th:if="${user.role == 'Admin' and profile_owner.role == 'Admin'}" onclick="submitForm('toUser')">Set to user</button>
</form>
</div>

<script th:inline="javascript">
    function submitForm(action) {
        let form = document.getElementById('roleForm');
        let ownerId = form.getAttribute('data-owner-id');
        form.action = `/profile/${ownerId}/change-role/${action}`;

        form.submit();
    }
</script>
</body>
<footer class="footer">
    <div class="footer-div">
        <span>PPRO student project, Daniel Kučera , 2023</span>
    </div>
</footer>
</html>