<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration successful</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="header">
    <h1><a th:href="@{/}">Sigma mail</a></h1>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
<p class="logged-user">Logged user:<a th:href="@{/profile/{userId}(userId=${user.id})}"><span th:text="${user.username}"></span></a></p>
<div class="content">
<h1>Registration was successful!</h1>
<span>Click <a th:href="@{/}">here</a> to return to the main page.</span>
</div>
</body>
<footer class="footer">
    <div class="footer-div">
        <span>PPRO student project, Daniel Kučera , 2023</span>
    </div>
</footer>
</html>